.day{
    border-radius: 10px;
     width: 480px;
    height: 480px;
    z-index: 1;
    background-image: url(../../../../../public/img/day.jpg);
}


.night{
    border-radius: 10px;
     width: 480px;
    height: 480px;
    z-index: 1;
    background-image: url(../../../../../public/img/night.png);

}