.forecast{

        grid-column-start: 7;
        grid-row-start:7 ;
      
      
          align-items: center;
      opacity: 80%;
          backdrop-filter: blur(20px);
      background-color: var(--bg-color);
      border-radius: 10px;
      width: 580px;
      height: 195px;
      color:var(--accent-color);
}