.hourly_forecast{
  max-width: 580px;
  min-width: 100%;
  margin: 0 auto;
  grid-column-start: 7;
  grid-row-start:7 ;
  align-items: center;
  opacity: 80%;
  backdrop-filter: blur(20px);
  background-color: var(--bg-color);
  border-radius: 10px;
  height: 195px;
  color:var(--accent-color);
  transition: 300ms;
  @media (max-width:780px) {
    height: 150px;
  }
.temp{
  color: var(--primary-color);
  font:var(--font-l);
  @media (max-width:780px) {
    font:var(--font-l);
  }

}



&__icon{
    display: grid;
    place-items: center;
}
  ul{
    padding-top: 25px;
    display: flex; 
    justify-content: center;  
    
   img{

    margin: 0 auto
   
   }
  }
  li{ 
    line-height: 20px;
    width: 70px;
    text-align: center;
  }

}

.hourly_forecast:hover{
  scale: 1.070;
  @media (max-width: 780px) {
    scale: 1;        
    }
}

