.hourly_forecast{
  grid-column-start: 7;
  grid-row-start:7 ;
  align-items: center;
  opacity: 80%;
  backdrop-filter: blur(20px);
  background-color: var(--bg-color);
  border-radius: 10px;
  width: 580px;
  height: 195px;
  color:var(--accent-color);
  transition: 300ms;
.temp{
  color: var(--primary-color);
  font:var(--font-l);
  line-height: 20px;

}


&__icon{
  
    display: grid;
    place-items: center;
}
  ul{
    padding-top: 25px;
    display: flex; 
    justify-content: center;  
    gap:14px;
    
   img{

    margin: 0 auto
   
   }
  }
  li{ 
    line-height: 20px;
    width: 70px;
    text-align: center;
  }

}

.hourly_forecast:hover{
  scale: 1.070;
}

