.MainWrapper{

    grid-column-start: 2;
grid-row-start: 3;
width: 475px;
height: 480px;
border-radius: 10px;
background-image: var(--bg-img);
transition: 300ms;
}
.MainWrapper:hover{
    scale: 1.070;
}
