@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;800&display=swap');
@import "theme/dark";
@import "theme/light";
@import "reset";
@import "variables/global";


.container{
   display: flex;
   max-width: 1860px;
   margin: 0 auto;                
   overflow: scrolls;
}